TZ=Europe/Berlin
APP_DATA_DIR=/media/ZimaOS-HD/AppData/ish_libation
BOOKS_DIR=/media/ZimaOS-HD/AppData/ish_libation/data
WEBUI_PORT=3100
PUID=0
PGID=0
APP_ICON=https://raw.githubusercontent.com/rmcrackan/Libation/master/Source/LibationAvalonia/Assets/libation.ico

VPN_SERVICE_PROVIDER=mullvad
VPN_TYPE=wireguard
MULLVAD_ACCOUNT_ID=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
DNS_UPSTREAM_PLAIN_ADDRESSES=10.64.0.1
FIREWALL_INPUT_PORTS=3000
FIREWALL_OUTBOUND_SUBNETS=10.64.0.1/32

# Optional Gluetun server filters. Uncomment only when needed.
# SERVER_COUNTRIES=Norway
# SERVER_CITIES=Oslo
# SERVER_HOSTNAMES=

PUBLIC_IP_URL=https://api.ipify.org?format=json
PUBLIC_IP_INTERVAL_SECONDS=300
